.dropdown:hover > div#icon-selector {
    transform: rotate(180deg);
}
.dropdown:hover > #dropdown-item{
    display: block;
}

#dropdown-item:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 10px;
    transform: translateY(-100%);
}
